/* Nulstil margin/padding */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* så footer kan ligge i bunden */
}

/* Øverste bjælke */
header {
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}
main img {
  max-width: 80%;
  border-radius: 10px;
}

/* Nederste bjælke */
footer {
  background-color: darkred;
  text-align: center;
  padding: 15px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}